hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}
.form-label {
    font-size: small !important;
}

hr {
    margin: 3rem 0 ;
    opacity: 1 !important;
}